<h1 mat-dialog-title class="dialog-title">{{ fournisseur.id ? 'Éditer Fournisseur' : 'Ajouter Fournisseur' }}</h1>
<div mat-dialog-content class="dialog-content">
  <form class="form-container" #fournisseurForm="ngForm">
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nom Commercial</mat-label>
        <input matInput [(ngModel)]="fournisseur.nomCommercial" name="nomCommercial" required>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Matricule fiscal</mat-label>
        <input matInput [(ngModel)]="fournisseur.mf" name="mf" required>
      </mat-form-field>
    </div>
    
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="fournisseur.name" name="name" required>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>CIN</mat-label>
        <input matInput [(ngModel)]="fournisseur.cin" name="cin" required>
      </mat-form-field>
    </div>
    
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Date d'émission</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fournisseur.dateEmission" name="dateEmission" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Téléphone</mat-label>
        <input matInput [(ngModel)]="fournisseur.telephone" name="telephone" required>
      </mat-form-field>
    </div>
    
    <div class="form-row">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Adresse</mat-label>
        <input matInput [(ngModel)]="fournisseur.adresse" name="adresse" required>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-raised-button class="save-button" (click)="onSubmit(fournisseurForm)" [disabled]="!fournisseurForm.form.valid">Ajouter</button>
  <button mat-button class="cancel-button" (click)="onCancel()">Annuler</button>
</div>
