<div class="filter-container">
    <label for="chambreSelect">{{ 'Sélectionner Chambre:' | translate }}</label>
    <select id="chambreSelect" [(ngModel)]="selectedChambreId">
      <option *ngFor="let chambre of chambres" [value]="chambre.id">{{ chambre.name }}</option>
    </select>
  
  
    <button (click)="filter()">{{ 'Filtrer' | translate }}</button>
    <button (click)="clearFilters()">{{ 'Effacer' | translate }}</button>
  </div>


<div *ngFor="let chambre of chambres" class="journal-chambre-container">
    <h2>{{ chambre.chambre }}</h2>
    <table>
      <thead>
        <tr>
          <th>{{ 'Fournisseur' | translate }}</th>
          <th>{{ 'Produit' | translate }}</th>
          <th>{{ 'Total Entrées' | translate }}</th>
          <th>{{ 'Total Sorties' | translate }}</th>
          <th>{{ 'Stock Total' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of chambre.fournisseursProduits">
          <td>{{ item.fournisseur }}</td>
          <td>{{ item.produit }}</td>
          <td>{{ item.totalEntrees }}</td>
          <td>{{ item.totalSorties }}</td>
          <td>{{ item.stockTotal }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  