<div class="etat-stock-container">
    <h2> {{ 'État du Stock' | translate }}</h2>
    <div class="filter-container">
      <mat-form-field appearance="fill">
        <mat-label> {{ 'Filtrer par produit' | translate }}</mat-label>
        <mat-select [(value)]="selectedProduit" (selectionChange)="applyProduitFilter()">
          <mat-option *ngFor="let produit of produits" [value]="produit">
            {{ produit.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ 'Filtrer par fournisseur' | translate }}</mat-label>
        <mat-select [(value)]="selectedFournisseur" (selectionChange)="applyFournisseurFilter()">
          <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur">
            {{ fournisseur.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-button (click)="applyFilters()">{{ 'Filtrer' | translate }}</button>
      <button mat-button (click)="clearFilters()">{{ 'Effacer' | translate }}</button>
    </div>





    <div class="table-container">
      <table class="mat-elevation-z8">
        <thead>
          <tr>
            <th>{{ 'Produit' | translate }}</th>
            <th>{{ 'Fournisseur' | translate }}</th>
            <th> {{ 'QtesE' | translate }}</th>
            <th> {{ 'QtesS' | translate }}</th>
            <th> {{ 'Stock' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let entry of etatStock">
            <td>{{ entry.produit.name }}</td>
            <td>{{ entry.fournisseur.name }}</td>
            <td>{{ entry.totalQteE }}</td>
            <td>{{ entry.totalQteS }}</td>
            <td>{{ entry.stockTotal }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  