.journal-stock-container {
    background-color: #f5f5f5; /* Couleur de fond douce */
    padding: 20px; /* Espacement autour de la page */
    font-family: 'Roboto', sans-serif; /* Police moderne et propre */
  
    h2 {
      color: #00bcd4; /* Couleur principale */
      margin-bottom: 20px; /* Espacement sous le titre */
      text-align: center; // Alignement du texte au centre
    }
  
    .filter-container {
      display: flex; /* Disposition en ligne */
      align-items: center; /* Aligne les éléments au centre verticalement */
      margin-bottom: 20px; /* Espacement sous la barre de recherche */
      flex-wrap: wrap; /* Permettre le retour à la ligne si nécessaire */
    }
  
    .mat-form-field {
      width: 100%;
      margin-right: 15px; /* Espacement entre les champs */
      flex: 1; /* Les champs prennent l'espace disponible */
    }
  
    .mat-button {
      background-color: #00bcd4;
      color: #fff;
      min-width: auto; /* Ajuster la largeur automatiquement */
      margin-left: 15px; /* Espacement entre les champs et le bouton */
    }
  
    .mat-button:hover {
      background-color: #0097a7;
    }
  
    .table-container {
      background-color: #fff; /* Couleur de fond de la table */
      padding: 20px; /* Espacement autour de la table */
      border-radius: 8px; /* Coins arrondis */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre subtile */
    }
  
    table {
      width: 100%;
      border-collapse: collapse; /* Supprime les espaces entre les cellules */
    }
  
    th,
    td {
      padding: 12px 15px; /* Espacement dans les cellules */
      text-align: left; /* Alignement du texte à gauche */
    }
  
    th {
      background-color: #00bcd4; /* Couleur de fond des en-têtes */
      color: #fff; /* Couleur du texte des en-têtes */
    }
  
    tr:nth-child(even) {
      background-color: #f2f2f2; /* Couleur de fond des lignes paires */
    }
  
    .mat-icon-button {
      margin-left: 15px; /* Espacement entre les boutons */
    }
  
    .mat-icon {
      color: #00bcd4; /* Couleur des icônes */
    }
  
    .mat-icon-button.color-primary {
      color: #00bcd4; /* Couleur du bouton primaire */
    }
  
    .mat-icon-button.color-warn {
      color: #d32f2f; /* Couleur du bouton d'alerte */
    }
  
    /* Styles pour le bouton Ajouter */
    .add-button-container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px; // Espace entre le bouton et le tableau
    }
  }
  